* {
    margin: 0;
    padding: 0;
    box-sizing: border-box!important;
    -webkit-font-smoothing: antialiased;
}



.header_wrapper {
    text-align: center;
    color:rgb(255, 8, 8); 
    font-family: 'Shadows Into Light Two', cursive;
    font-style: normal;
    letter-spacing: .2em;
    margin-bottom: 10px;
    
}



body {
    background-color: rgb(24, 23, 23);
    background-image: url(Images/img-creepy.jpg);
    background-repeat: initial;
    background-blend-mode: color-dodge;
   
    
}


.video {
    transform: translate(-50%, -50%);
    position: absolute;
    top: 65%;
    left: 50%;
    margin-top: 30px;

}

.navigation{
display: flex;
align-items: center;
padding: 20px;
position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 176px; 


}



.nav {
    margin: -6px -8px;
    list-style: none;
    
   
    
}

.navigation ul, .footer {
    list-style: none;
    display: flex;
    align-items: stretch;
    justify-content: space-evenly;
    width: 100%;
    margin: 0;
    padding: 0;



    
    
    
  

}


a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-family: 'Creepster', cursive;
}



h1 {

    background-color: rgb(23, 255, 23);
}

h3 {
    color: #fff;
    margin-top: 70px;
   text-align: center;
   margin-left: 20px;
   font-family: 'Creepster', cursive;
   color: rgb(124, 124, 124);
   

}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 35px;
    height: 300px;

    
}

h4 {
    color: #fff;
    text-align: center;
    font-family: 'Kaushan Script', cursive;
    
    
}

p {
    color: rgb(23, 255, 23);
    text-align: center;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-block-start: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}



   


.col-4:hover{
    transform: translateY(-5px);
}

.col-4 img {
    width: 100%;
 
}

.container {
    max-width: 1080 px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 50px;
    margin-bottom: -20px;
}

.col-4 {
    flex-basis: 25%;
    min-width: 100px;
    padding: 45px;
    margin-right: auto;
    
 
    
}

.button-primary {
    color: rgb(110, 123, 163);
    font-family: Montserrat,sans-serif;
    font-weight: 500;
    font-style: normal;
    background-color: transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    position: relative;
    display: inline-block;
    padding: 14px 28px;
    line-height: normal;
    border: 1px solid transparent;
    border-radius: 0;
    text-transform: uppercase;
    font-size: 12px;
    text-align: center;
    letter-spacing: .2em;
    font-family: Montserrat,sans-serif;
    font-weight: 500;
    font-style: normal;
  
    transition: all 1s ease-out;
    z-index: 1;
    -webkit-tap-highlight-color: initial;
    color: #fffdfd;
    border-color: rgb(255, 8, 8);
    outline: none;



    

}

a:hover {

    color:#333;
    
}

a:focus {

    background-color: #fff;
}

hr {
  
   margin-top: 75px;
   min-width: 123%;
   margin-left: auto;
   margin-right: auto;
   overflow: visible;
   border-color: #fff;
   
   
   
  
   height: auto;
   padding: 0px 80px ;

  

}

.col-2 h2 {

    color: #fff;
    text-align: center;
    margin-bottom: 35px;
    


}

.col-2 img {

    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 60px;
    
  
   
    
    
}

.col-2:hover img {

    transform: translateY(-5px);
}

.col-2 h1 {

    font-size: 50px;
    color: rgb(255, 8, 8);
    text-align: center;
    margin-bottom: 10px; 
   
    font-family: 'Creepster', cursive;
    
}

.col-2 p {

    
    font-size: 30px;
}

.col-2 {

    margin-bottom: 60px;
   
}

.btn {

    cursor: pointer;
}

.btn:hover {

    transition-duration: 1s;
    color:rgb(255, 8, 8);
}

.footer ul {

    list-style: none;
    display: flex;
    align-items: stretch;
    justify-content: space-around;
    width: 100%;
  
  
 
}

.footer {

    margin-top: 25px;
    width: 100%;
    justify-content: space-evenly;
    text-align: center;
    
}

.footer:hover {

    color: rgb(23, 255, 23);

    
}

.footer p {

    text-align: center;
}

.footer-content p {

    color: rgb(255, 8, 8);
    margin-top: 70px;
    font-family: sans-serif

  
  
}


.footer-main ul {
    width: 100%;

    text-align: center;

    display: block;


}

.footer-main li {
    margin-top: 60px;
    margin-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
    color:white;
    font-family: 'Creepster', cursive;
}




.footer-main li a:hover {

    color: rgb(255, 8, 8);
}

.footer-news ul {

    margin-top: 40px;
    
        width: 100%;
    
        text-align: center;
    
        display: block;
   

}



input {

    margin:0;
}



input[type=submit] {

  color: rgb(110, 123, 163);
    font-family: Montserrat,sans-serif;
    font-weight: 500;
    font-style: normal;
    background-color: transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    position: relative;
    display: inline-block;
    padding: 14px 28px;
    line-height: normal;
    border: 1px solid transparent;
    border-radius: 0;
    text-transform: uppercase;
    font-size: 12px;
    text-align: center;
    letter-spacing: .2em;
    font-family: Montserrat,sans-serif;
    font-weight: 500;
    font-style: normal;
    margin-top: 20px;
  
    transition: all 1s ease-out;
    z-index: 1;
    -webkit-tap-highlight-color: initial;
    color: #fffdfd;
    border-color: rgb(255, 8, 8);
    outline: none;
}

input[type=submit]:hover {

    color:#333;
    

}

input[type=submit]:focus {

    background-color: #fff;
}

.form-input {
    
        -webkit-appearance: none;
        display: block;
        padding: 12px 14px;
        border-radius: 0;
        border: 1px solid #f5f5f5;
        width: 100%;
        line-height: normal;
        resize: none;
        transition: border-color .1s ease-in-out;
        background: 0 0;
    

}

input[type=text] {

    
    color: red;
    font-family: Montserrat,sans-serif;
    font-weight: 500;
    font-style: normal;
    background-color: transparent;

    border: none;
    resize: none;
    
   
    outline:none;
   
    letter-spacing: .2em;
    font-family: Montserrat,sans-serif;
    font-weight: 500;
    font-style: normal;
  
    
   
   
   
    outline: none;
}

::placeholder {


        text-decoration: none;
        color: rgb(23, 255, 23);
        font-size: 20px;
        font-family: 'Creepster', cursive;
       
    }
    

    .Icon-Wrapper--clickable {
        position:relative;
        background:0 0
        
       }
       .Icon-Wrapper--clickable::before {
        position:absolute;
        content:'';
        top:-8px;
        right:-12px;
        left:-12px;
        bottom:-8px;
        transform:translateZ(0)
       }
       .Icon {
        display:flex;
        height:1em;
        width:1em;
        fill:currentColor;
        vertical-align:middle;
        stroke-width:1px;
        background:0 0;
        pointer-events:none;
        margin-left: 25px;
      
       }

       .u-visually-hidden {
        position:absolute!important;
        overflow:hidden;
        clip:rect(0 0 0 0);
        height:1px;
        width:1px;
        margin:-1px;
        padding:0;
        border:0
       }

       

       .HorizontalList {
        list-style: none;
        margin: 50px 25px;
       }
       .HorizontalList__Item {
        display: inline-block;
        margin: 6px 15px 65px 45px;
       }
       .HorizontalList__Item>.Link,
       .HorizontalList__Item>.shopify-payment-button__more-options {
        display: inline-block;
       }
       .HorizontalList--spacingTight {
        margin-left:-8px;
        margin-right:-8px
       }
       .HorizontalList--spacingTight .HorizontalList__Item {
        margin-right: 8px;
        margin-left: 8px;
       }
       
       .HorizontalList--spacingExtraLoose {
        margin-left: -17px;
        margin-right: -17px;
       }
       .HorizontalList--spacingExtraLoose .HorizontalList__Item {
        margin-right: 17px;
        margin-left: 17px;
       }
       .HorizontalList--spacingLoose {
        margin-left: -14px;
        margin-right: -14px;
       }
       .HorizontalList--spacingLoose .HorizontalList__Item {
        margin-right: 6px;
        margin-left: 8px;
       }
       .HorizontalList--spacingFill {
        display: flex;
        justify-content: space-around;
        justify-content: space-evenly;
       }
       .HorizontalList--spacingFill .HorizontalList__Item {
        margin-left: 0;
        margin-right: 0;
       }

       .footer-copyright p {
           color: #fff;


       }

       .footer-copyright {


        margin: 0px auto;
        
       }

       input[value="Go!"] {


        border: none;
        padding: 0;
        margin: 0;
       }

       .list-group  {
           
        color: rgb(255, 175, 27);
        font-family: Montserrat,sans-serif;
        font-size: 15px;
        font-weight: 10px;
      
       }

       

       
    




















        
        
      
    
    


